<section class="section" id="about">
  <div class="wrap text-center" style="max-width:900px">
    <h2 class="display h-lg cursor" data-text="sections.about.title">HUH?</h2>
    <p class="lead mt-2" data-text="sections.about.body">
      Calamyty Mytryx is a Vtuber who streams on TikTok and Twitch and posts on Twitter.
      He is also known as Calamytryx or Calamyty. He is a level 20 disaster who plays random
      games and interacts with his fans. He has a third character model that he plans to
      reveal soon. He is part of the PHVtuber community, which is a Group of Filipino Vtubers.
    </p>
  </div>
</section>
